vaibhav-rg-df/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "vaibhav-rg-df"
		},
		"BlobMovementPipelineTrigger_properties_BlobDataMovementPipeline_parameters_BlobDataMovementPipelineSinkFileName": {
			"type": "string",
			"defaultValue": "NA"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ParquetToDataBrics')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EquipmentParquet",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ParquetDataSet",
								"type": "DatasetReference",
								"parameters": {
									"fileNameParquet": {
										"value": "@pipeline().parameters.EquipmentParquetFilePath",
										"type": "Expression"
									}
								}
							},
							"timeout": "7.00:00:00",
							"sleep": 10
						}
					},
					{
						"name": "AreaParquet",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ParquetDataSet",
								"type": "DatasetReference",
								"parameters": {
									"fileNameParquet": {
										"value": "@pipeline().parameters.AreaParquetFilePath",
										"type": "Expression"
									}
								}
							},
							"timeout": "7.00:00:00",
							"sleep": 10
						}
					},
					{
						"name": "JoinEquipmentArea",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "EquipmentParquet",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "AreaParquet",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "standardToDiscipline",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SystemParquet",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ProcurementPackageparquet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/vaibhav.sharma@aize.io/test",
							"baseParameters": {
								"EquipmentFile": {
									"value": "@pipeline().parameters.EquipmentParquetFilePath",
									"type": "Expression"
								},
								"AreaFile": {
									"value": "@pipeline().parameters.AreaParquetFilePath",
									"type": "Expression"
								},
								"StorageAccountName": {
									"value": "@pipeline().parameters.StorageAccountName",
									"type": "Expression"
								},
								"SystemFile": {
									"value": "@pipeline().parameters.SystemParquet",
									"type": "Expression"
								},
								"DisciplineFile": {
									"value": "@pipeline().parameters.disciplineFileParquet",
									"type": "Expression"
								},
								"StandardTableFile": {
									"value": "@pipeline().parameters.standardTableParquet",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DataBrics",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ProcurementPackageparquet",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ParquetDataSet",
								"type": "DatasetReference",
								"parameters": {
									"fileNameParquet": {
										"value": "@pipeline().parameters.ProcPackageParquet",
										"type": "Expression"
									}
								}
							},
							"timeout": "7.00:00:00",
							"sleep": 10
						}
					},
					{
						"name": "SystemParquet",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ParquetDataSet",
								"type": "DatasetReference",
								"parameters": {
									"fileNameParquet": {
										"value": "@pipeline().parameters.SystemParquet",
										"type": "Expression"
									}
								}
							},
							"timeout": "7.00:00:00",
							"sleep": 10
						}
					},
					{
						"name": "standardToDiscipline",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "standardToDiscipline",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"standardTable": {
										"fileNameParquet": "comos_standardtable.parquet"
									},
									"DisciplineParquet": {
										"fileNameParquet": "comos_discipline.parquet"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"EquipmentParquetFilePath": {
						"type": "string",
						"defaultValue": "comos_tag.parquet"
					},
					"AreaParquetFilePath": {
						"type": "string",
						"defaultValue": "comos_area.parquet"
					},
					"standardTableParquet": {
						"type": "String",
						"defaultValue": "comos_standardtable.parquet"
					},
					"disciplineFileParquet": {
						"type": "String",
						"defaultValue": "comos_discipline.parquet"
					},
					"ProcPackageParquet": {
						"type": "String",
						"defaultValue": "comos_procurementpackage.parquet"
					},
					"SystemParquet": {
						"type": "String",
						"defaultValue": "comos_system.parquet"
					},
					"StorageAccountName": {
						"type": "String",
						"defaultValue": "vaibhavadfgen2"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobMovementPipelineTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "BlobDataMovementPipeline",
							"type": "PipelineReference"
						},
						"parameters": {
							"BlobDataMovementPipelineSinkFileName": "[parameters('BlobMovementPipelineTrigger_properties_BlobDataMovementPipeline_parameters_BlobDataMovementPipelineSinkFileName')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-07-29T13:39:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								22
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EquipmentDeltas')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ParquetToDataBrics",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ParquetToDataBrics')]"
			]
		}
	]
}