pipeline/ParquetToDataBrics.json
{
	"name": "ParquetToDataBrics",
	"properties": {
		"activities": [
			{
				"name": "EquipmentParquet",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ParquetDataSet",
						"type": "DatasetReference",
						"parameters": {
							"fileNameParquet": {
								"value": "@pipeline().parameters.EquipmentParquetFilePath",
								"type": "Expression"
							}
						}
					},
					"timeout": "7.00:00:00",
					"sleep": 10
				}
			},
			{
				"name": "AreaParquet",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ParquetDataSet",
						"type": "DatasetReference",
						"parameters": {
							"fileNameParquet": {
								"value": "@pipeline().parameters.AreaParquetFilePath",
								"type": "Expression"
							}
						}
					},
					"timeout": "7.00:00:00",
					"sleep": 10
				}
			},
			{
				"name": "JoinEquipmentArea",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "EquipmentParquet",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "AreaParquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/vaibhav.sharma@aize.io/test",
					"baseParameters": {
						"EquipmentFile": {
							"value": "@string(activity('EquipmentParquet').output)",
							"type": "Expression"
						},
						"AreaFile": {
							"value": "@activity('AreaParquet').output",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DataBrics",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"EquipmentParquetFilePath": {
				"type": "string",
				"defaultValue": "comos_tag.parquet"
			},
			"AreaParquetFilePath": {
				"type": "string",
				"defaultValue": "comos_area.parquet"
			}
		},
		"annotations": []
	}
}