vaibhav-rg-df/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "vaibhav-rg-df"
		},
		"AzureMySql1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureMySql1'"
		},
		"AzureMySql2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureMySql2'"
		},
		"AzureTableStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureTableStorage1'"
		},
		"FormattedEquipmentLinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'FormattedEquipmentLinkedService'"
		},
		"loggingservice_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'loggingservice'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Transfer_to_mysql')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "COPY_EQUIPMENT",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "equipments"
							},
							{
								"name": "Destination",
								"value": "equipment"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureTableSource",
								"azureTableSourceIgnoreTableNotFound": false
							},
							"sink": {
								"type": "AzureMySqlSink",
								"writeBatchSize": 10000,
								"writeBatchTimeout": "00:00:30"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PartitionKey",
											"type": "String"
										},
										"sink": {
											"name": "PartitionKey",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RowKey",
											"type": "String"
										},
										"sink": {
											"name": "RowKey",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Timestamp",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "Timestamp",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "area",
											"type": "String"
										},
										"sink": {
											"name": "area",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "attributes",
											"type": "String"
										},
										"sink": {
											"name": "attributes",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String"
										},
										"sink": {
											"name": "description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "discipline",
											"type": "String"
										},
										"sink": {
											"name": "discipline",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "facility",
											"type": "String"
										},
										"sink": {
											"name": "facility",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "String"
										},
										"sink": {
											"name": "id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "processLine",
											"type": "String"
										},
										"sink": {
											"name": "processLine",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "procurementPackage",
											"type": "String"
										},
										"sink": {
											"name": "procurementPackage",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "system",
											"type": "String"
										},
										"sink": {
											"name": "system",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "tagNumber",
											"type": "String"
										},
										"sink": {
											"name": "tagNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "topTag",
											"type": "String"
										},
										"sink": {
											"name": "topTag",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_oty",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MYSQLEquipment",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "COPY_SYSTEM",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "COPY_EQUIPMENT",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "COPY_AREA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "system"
							},
							{
								"name": "Destination",
								"value": "system"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureTableSource",
								"azureTableSourceIgnoreTableNotFound": false
							},
							"sink": {
								"type": "AzureMySqlSink",
								"writeBatchSize": 10000,
								"writeBatchTimeout": "00:00:30"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PartitionKey",
											"type": "String"
										},
										"sink": {
											"name": "PartitionKey",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RowKey",
											"type": "String"
										},
										"sink": {
											"name": "RowKey",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ext_id",
											"type": "String"
										},
										"sink": {
											"name": "ext_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "fullName",
											"type": "String"
										},
										"sink": {
											"name": "fullName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "facility",
											"type": "String"
										},
										"sink": {
											"name": "facility",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String"
										},
										"sink": {
											"name": "description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "String"
										},
										"sink": {
											"name": "id",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "TableSystem",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MySqlSystem",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "COPY_AREA",
						"description": "Copying area from table storage to mysql database",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "area"
							},
							{
								"name": "Destination",
								"value": "area"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureTableSource",
								"azureTableSourceIgnoreTableNotFound": false
							},
							"sink": {
								"type": "AzureMySqlSink",
								"writeBatchSize": 10000,
								"writeBatchTimeout": "00:00:30"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PartitionKey",
											"type": "String"
										},
										"sink": {
											"name": "PartitionKey",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RowKey",
											"type": "String"
										},
										"sink": {
											"name": "RowKey",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Timestamp",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "Timestamp",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ext_id",
											"type": "String"
										},
										"sink": {
											"name": "ext_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "areaCode",
											"type": "String"
										},
										"sink": {
											"name": "areaCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String"
										},
										"sink": {
											"name": "description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "systemFullName",
											"type": "String"
										},
										"sink": {
											"name": "systemFullName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "locationType",
											"type": "String"
										},
										"sink": {
											"name": "locationType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "fabricationContractor",
											"type": "String"
										},
										"sink": {
											"name": "fabricationContractor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "project",
											"type": "String"
										},
										"sink": {
											"name": "project",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "facility",
											"type": "String"
										},
										"sink": {
											"name": "facility",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "String"
										},
										"sink": {
											"name": "id",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "TableArea",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MySqlArea",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_oty')]",
				"[concat(variables('factoryId'), '/datasets/MYSQLEquipment')]",
				"[concat(variables('factoryId'), '/datasets/TableSystem')]",
				"[concat(variables('factoryId'), '/datasets/MySqlSystem')]",
				"[concat(variables('factoryId'), '/datasets/TableArea')]",
				"[concat(variables('factoryId'), '/datasets/MySqlArea')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copy_to_table_storage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "copy from one table to another table",
				"activities": [
					{
						"name": "Copy_dlm",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "equipments"
							},
							{
								"name": "Destination",
								"value": "FormattedEquipment2"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureTableSource",
								"azureTableSourceIgnoreTableNotFound": false
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "merge",
								"azureTableDefaultPartitionKeyValue": "equipment",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "loggingservice",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PartitionKey",
											"type": "String"
										},
										"sink": {
											"name": "PartitionKey",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RowKey",
											"type": "String"
										},
										"sink": {
											"name": "RowKey",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Timestamp",
											"type": "DateTimeOffset"
										},
										"sink": {
											"name": "Timestamp",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"name": "area",
											"type": "String"
										},
										"sink": {
											"name": "area",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "attributes",
											"type": "String"
										},
										"sink": {
											"name": "attributes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String"
										},
										"sink": {
											"name": "description",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "discipline",
											"type": "String"
										},
										"sink": {
											"name": "discipline",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "facility",
											"type": "String"
										},
										"sink": {
											"name": "facility",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "String"
										},
										"sink": {
											"name": "id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "processLine",
											"type": "String"
										},
										"sink": {
											"name": "processLine",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "procurementPackage",
											"type": "String"
										},
										"sink": {
											"name": "procurementPackage",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "system",
											"type": "String"
										},
										"sink": {
											"name": "system",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "tagNumber",
											"type": "String"
										},
										"sink": {
											"name": "tagNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "topTag",
											"type": "String"
										},
										"sink": {
											"name": "topTag",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_dlm",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_dlm",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_dlm')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_dlm')]",
				"[concat(variables('factoryId'), '/linkedServices/loggingservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_dlm')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FormattedEquipmentLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "FormattedEquipment2"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FormattedEquipmentLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FormattedEquipmentDataSet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is the possible formatted data set",
				"linkedServiceName": {
					"referenceName": "FormattedEquipmentLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "FormattedEquipmentTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FormattedEquipmentLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MYSQLEquipment')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureMySql2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "PartitionKey",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "RowKey",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Timestamp",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "area",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "attributes",
						"type": "json",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "description",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "discipline",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "facility",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "id",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "processLine",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "procurementPackage",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "system",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tagNumber",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "topTag",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "type",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"tableName": "equipment"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureMySql2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySqlArea')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureMySql2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "PartitionKey",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "RowKey",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Timestamp",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "type",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tagNumber",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ext_id",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "areaCode",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "description",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "systemFullName",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "locationType",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "fabricationContractor",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "project",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "facility",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "id",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"tableName": "area"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureMySql2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySqlEquipmentSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureMySql2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "PartitionKey",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "RowKey",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "type",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tagNumber",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "description",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "relations",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "facility",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "area",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "system",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "discipline",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "procurementPackage",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "processLine",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "id",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "topTag",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "attributes",
						"type": "json",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"tableName": "equipmentsink"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureMySql2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySqlSystem')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureMySql2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "PartitionKey",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "RowKey",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ext_id",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "fullName",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "facility",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "description",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "id",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"tableName": "system"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureMySql2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_dlm')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureTableStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "equipments"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureTableStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_oty')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FormattedEquipmentLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "equipments"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FormattedEquipmentLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TableArea')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureTableStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "area"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureTableStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TableEquipments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureTableStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "equipments"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureTableStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TableSystem')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureTableStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "system"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureTableStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/equipmentsTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is connected to table storage of equipments",
				"linkedServiceName": {
					"referenceName": "AzureTableStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "equipments"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureTableStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMySql1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureMySql",
				"typeProperties": {
					"connectionString": "[parameters('AzureMySql1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMySql2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureMySql",
				"typeProperties": {
					"connectionString": "[parameters('AzureMySql2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureTableStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "equipments storage in table",
				"annotations": [],
				"type": "AzureTableStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureTableStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FormattedEquipmentLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is the possible output Formatted Equipment",
				"annotations": [],
				"type": "AzureTableStorage",
				"typeProperties": {
					"connectionString": "[parameters('FormattedEquipmentLinkedService_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/loggingservice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('loggingservice_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TestingDataFlow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "MYSQLEquipment",
								"type": "DatasetReference"
							},
							"name": "mysqlEquipment"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MySqlEquipmentSink",
								"type": "DatasetReference"
							},
							"name": "mysqlEquipmenrSink"
						}
					],
					"transformations": [
						{
							"name": "streamOne"
						}
					],
					"scriptLines": [
						"source(output(",
						"          PartitionKey as string,",
						"          RowKey as string,",
						"          Timestamp as string,",
						"          area as string,",
						"          attributes as string,",
						"          description as string,",
						"          discipline as string,",
						"          facility as string,",
						"          id as string,",
						"          processLine as string,",
						"          procurementPackage as string,",
						"          system as string,",
						"          tagNumber as string,",
						"          topTag as string,",
						"          type as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     batchSize: 3,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> mysqlEquipment",
						"mysqlEquipment alterRow(updateIf(id==\"Johan Castberg_JC_A3RZ75325T\"),",
						"     deleteIf(id==\"Johan Castberg_JC_A3RZ7YU3UD\"),",
						"     upsertIf(id==\"Johan Castberg_JC_A3RZ7SYVUD\")) ~> streamOne",
						"streamOne sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          PartitionKey as string,",
						"          RowKey as string,",
						"          type as string,",
						"          tagNumber as string,",
						"          description as string,",
						"          relations as string,",
						"          facility as string,",
						"          area as string,",
						"          system as string,",
						"          discipline as string,",
						"          procurementPackage as string,",
						"          processLine as string,",
						"          id as string,",
						"          topTag as string,",
						"          attributes as any",
						"     ),",
						"     deletable:true,",
						"     insertable:true,",
						"     updateable:true,",
						"     upsertable:true,",
						"     keys:['PartitionKey','id'],",
						"     skipKeyWrites:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          PartitionKey,",
						"          RowKey,",
						"          type,",
						"          tagNumber,",
						"          description,",
						"          facility,",
						"          area,",
						"          system,",
						"          discipline,",
						"          procurementPackage,",
						"          processLine,",
						"          id,",
						"          topTag,",
						"          attributes",
						"     )) ~> mysqlEquipmenrSink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MYSQLEquipment')]",
				"[concat(variables('factoryId'), '/datasets/MySqlEquipmentSink')]"
			]
		}
	]
}